<main>
    <div class="content_cars">

        <div class="cars">

            <div class="cars_img">
                <img src="..//src/assets/Img_Cars/desplegable-vehiculos.png" alt="Icon_cars">
            </div>
            <div class="cars_content">
                <div class="cars_content_info">
                    <h3>MAZDA 3</h3>
                </div>

                <div class="cars_content_año">
                    <h3>2024</h3>
                </div>

                <div class="cars_content_precio">
                    <p>Desde $117,450,000,00</p>
                </div>
            </div>
            
        </div>


        <div class="cars">

            <div class="cars_img">
                <img src="..//src/assets/Img_Cars/menu.png" alt="Icon_cars">
            </div>
            <div class="cars_content">
                <div class="cars_content_info">
                    <h3>NUEVO MAZDA2 SPORT</h3>
                </div>

                <div class="cars_content_año">
                    <h3>2024</h3>
                </div>

                <div class="cars_content_precio">
                    <p>Desde $79,050,000,00</p>
                </div>
            </div>
            
        </div>

        <div class="cars">

            <div class="cars_img">
                <img src="..//src/assets/Img_Cars/touring.png" alt="Icon_cars">
            </div>
            <div class="cars_content">
                <div class="cars_content_info">
                    <h3>NUEVO MAZDA2 SEDÁN</h3>
                </div>

                <div class="cars_content_año">
                    <h3>2024</h3>
                </div>

                <div class="cars_content_precio">
                    <p>Desde $80,250,000,00</p>
                </div>
            </div>
            
        </div>

        <div class="cars">

            <div class="cars_img">
                <img src="..//src/assets/Img_Cars/vehiculos.png" alt="Icon_cars">
            </div>
            <div class="cars_content">
                <div class="cars_content_info">
                    <h3>MAZDA CX-5</h3>
                </div>

                <div class="cars_content_año">
                    <h3>2024</h3>
                </div>

                <div class="cars_content_precio">
                    <p>Desde $149,750,000,00</p>
                </div>
            </div>
            
        </div>

        <div class="cars">

            <div class="cars_img">
                <img src="..//src/assets/Img_Cars/desplegable_vehiculos.png" alt="Icon_cars">
            </div>
            <div class="cars_content">
                <div class="cars_content_info">
                    <h3>MAZDA CX-50</h3>
                </div>

                <div class="cars_content_año">
                    <h3>2024</h3>
                </div>

                <div class="cars_content_precio">
                    <p>Desde $180,800,000,00</p>
                </div>
            </div>
            
        </div>

        <!--otros contenidos de carros -->

        <div class="cars">

            <div class="cars_img">
                <img src="..//src/assets/Img_Cars/v/imagen_desplegable_233x155-1.png" alt="Icon_cars">
            </div>
            <div class="cars_content">
                <div class="cars_content_info">
                    <h3>MAZDA CX-60</h3>
                </div>

                <div class="cars_content_año">
                    <h3>2024</h3>
                </div>

                <div class="cars_content_precio">
                    <p>Desde $240,550,000,00</p>
                </div>
            </div>
            
        </div>

        <div class="cars">

            <div class="cars_img">
                <img src="..//src/assets/Img_Cars/v/imagen_desplegable_233x155-2.png" alt="Icon_cars">
            </div>
            <div class="cars_content">
                <div class="cars_content_info">
                    <h3>MAZDA CX-90</h3>
                </div>

                <div class="cars_content_año">
                    <h3>2024</h3>
                </div>

                <div class="cars_content_precio">
                    <p>Desde $282,600,000,00</p>
                </div>
            </div>
            
        </div>


        <div class="cars">

            <div class="cars_img">
                <img src="..//src/assets/Img_Cars/v/web_versiones_home_233x155_cx-9.png" alt="Icon_cars">
            </div>
            <div class="cars_content">
                <div class="cars_content_info">
                    <h3>MAZDA CX-9</h3>
                </div>

                <div class="cars_content_año">
                    <h3>2024</h3>
                </div>

                <div class="cars_content_precio">
                    <p>Desde $239,800,000,00</p>
                </div>
            </div>
            
        </div>


        <div class="cars">

            <div class="cars_img">
                <img src="..//src/assets/Img_Cars/v/mx5.png" alt="Icon_cars">
            </div>
            <div class="cars_content">
                <div class="cars_content_info">
                    <h3>MAZDA MX-5</h3>
                </div>

                <div class="cars_content_año">
                    <h3>2024</h3>
                </div>

                <div class="cars_content_precio">
                    <p>Desde $172,750,000,00</p>
                </div>
            </div>
            
        </div>

    </div>

    <div class="content_cars_bank">
        <img class="img_bank" src="..//src/assets/Img_Cars/mazda-cx-5---por-que-mazda-diseno.png" alt="">
    </div>

        <!-- CONTENIDO DE CARROS TOYOTA -->
        <div class="content_cars_toyota">
            <div class="cars">

                <div class="cars_img">
                    <img class="img_cars_toyota" src="..//src/assets/toyota/4runner-sr5-2.png" alt="Icon_cars">
                </div>
                <div class="cars_content">
                    <div class="cars_content_info">
                        <h3>4 RUNNER</h3>
                    </div>
    
                    <div class="cars_content_año">
                        <h3>2024</h3>
                    </div>
    
                    <div class="cars_content_precio">
                        <p>Desde $172,750,000,00</p>
                    </div>
                </div>
                
            </div>
    
            <div class="cars">
    
                <div class="cars_img">
                    <img class="img_cars_toyota" src="..//src/assets/toyota/COROLLA-CROSS-SEG-HV.png" alt="Icon_cars">
                </div>
                <div class="cars_content">
                    <div class="cars_content_info">
                        <h3>COROLLA CROSS</h3>
                    </div>
    
                    <div class="cars_content_año">
                        <h3>2024</h3>
                    </div>
    
                    <div class="cars_content_precio">
                        <p>Desde $172,750,000,00</p>
                    </div>
                </div>
                
            </div>
    
            <div class="cars">
    
                <div class="cars_img">
                    <img class="img_cars_toyota" src="..//src/assets/toyota/Miniatura-Fortuner-menu-1.png" alt="Icon_cars">
                </div>
                <div class="cars_content">
                    <div class="cars_content_info">
                        <h3>FORTUNER</h3>
                    </div>
    
                    <div class="cars_content_año">
                        <h3>2024</h3>
                    </div>
    
                    <div class="cars_content_precio">
                        <p>Desde $172,750,000,00</p>
                    </div>
                </div>
                
            </div>
    
            <div class="cars">
    
                <div class="cars_img">
                    <img class="img_cars_toyota" src="..//src/assets/toyota/Prado_400x400-1-1.png" alt="Icon_cars">
                </div>
                <div class="cars_content">
                    <div class="cars_content_info">
                        <h3>PRADO</h3>
                    </div>
    
                    <div class="cars_content_año">
                        <h3>2024</h3>
                    </div>
    
                    <div class="cars_content_precio">
                        <p>Desde $172,750,000,00</p>
                    </div>
                </div>
                
            </div>
    
            <div class="cars">
    
                <div class="cars_img">
                    <img class="img_cars_toyota" src="..//src/assets/toyota/RAV4-limited-4X4.png" alt="Icon_cars">
                </div>
                <div class="cars_content">
                    <div class="cars_content_info">
                        <h3>RAV4</h3>
                    </div>
    
                    <div class="cars_content_año">
                        <h3>2024</h3>
                    </div>
    
                    <div class="cars_content_precio">
                        <p>Desde $172,750,000,00</p>
                    </div>
                </div>
                
            </div>
    
            <div class="cars">
    
                <div class="cars_img">
                    <img class="img_cars_toyota" src="..//src/assets/toyota/YC_400x400.png" alt="Icon_cars">
                </div>
                <div class="cars_content">
                    <div class="cars_content_info">
                        <h3>YARIS CROSS</h3>
                    </div>
    
                    <div class="cars_content_año">
                        <h3>2024</h3>
                    </div>
    
                    <div class="cars_content_precio">
                        <p>Desde $172,750,000,00</p>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="content_TOYOTA">
            <img class="img_bank" src="..//src/assets/Img_Cars/banner_fortuner.jpg" alt="">
        </div>
</main>
