<div class="card">
    <div class="card-body">

        <form action="">

            <div class="mb-2">
                <label class="form-label">
                    nombre
                </label>
                <input type="text" class="form-control" placeholder="por favor ingrese un nombre">
            </div>

            <div>
                <label class="form-label">
                    Edad:
                </label>

                <input type="number" class="form-control" placeholder="por favor ingrese una edad">
            </div>

            <button class="btn btn">

            </button>

        </form>
    </div>
</div>
